body{
    background-image: radial-gradient(white,ghostwhite,whitesmoke,wheat);
}
#link2{
    text-decoration-line: none;
    color:GREEN;
    font-size: 1.8em;
    position:absolute;
    top: 15px;
    right:150px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    background-color:white;
    padding: 5px;
}
#form{
    border: 1px dashed blue;
    width: 40%;
}
#b{
    font-size: 1em;
    font-weight:bold;
}