.nav-link{
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#error{
    background-color: lightsalmon;
    color: maroon;
    border-radius: 25px;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border: 2px maroon solid;
    opacity: 70%;
}

#success{
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 25px;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    border: 2px darkgreen solid;
    opacity: 70%;
}

select{
    width: 75%;
}
.card{
    padding: 1% 1% 1% 1%;
}
.logo{
    width:40px;
    height:auto;
}

.cartitems{
    margin-left: 10px;
    margin-right: 10px;
}

.btn-warning{
    height: 2rem;
    padding-top:4px;
}

.bgn{
    background-image: radial-gradient(white,floralwhite);
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    width: 98%;
}
.indexcard{
    border-radius: 20px;

}
.card-footer{
    background-color: white;
    text-align: center;
}
.price{
    font-size: 14pt;
}
.cont{
    background-image: radial-gradient(lightblue,lightcyan,lightblue,lightcyan);
    color: black;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 25pt;
}
.cont1{
    background-color: floralwhite;
    color: black;
    font-weight: normal;
    font-family: 'Roboto';
    font-size: 15pt;
}
@media only screen and (max-width: 480px) {
    
    .cont{
        background-image: radial-gradient(lightblue,lightcyan,lightblue,lightcyan);
        color: black;
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 10pt;
        width: 98%;
        border-radius: 10px;
    }
    .cont1{
        background-color: floralwhite;
        color: black;
        font-weight: normal;
        font-family: 'Roboto';
        font-size: 6pt;
        width: 96%;
        margin-left: 2%;
        border-radius: 10px;
    }

    .contpdf{
        color: black;
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 10pt;
        width: 98%;
        border-radius: 10px;
    }
    .cont1pdf{
        background-color: floralwhite;
        color: black;
        font-weight: normal;
        font-family: 'Roboto';
        font-size: 6pt;
        width: 96%;
        margin-left: 2%;
        border-radius: 10px;
    }

    .card123{
        background-image: radial-gradient(white,floralwhite,ghostwhite,whitesmoke,white,floralwhite,ghostwhite,whitesmoke);
        color: black;
        font-family: 'Roboto';
        font-size: 8pt;
    }
    
    .chooseimg{
        height:auto;
    }
  }
  @media only screen and (min-width: 480px) {
    
    .cont{
        background-image: radial-gradient(lightblue,lightcyan,lightblue,lightcyan);
        color: black;
        font-weight: bold;
        font-family: 'Roboto';
        font-size: 25pt;
        width: 90%;
        margin-left: 5%;
        border-radius: 50px;
    }
    .cont1{
        background-color: floralwhite;
        color: black;
        font-weight: normal;
        font-family: 'Roboto';
        font-size: 15pt;
        width: 80%;
        margin-left: 10%;
        border-radius: 50px;
        padding-left: 5%;
    }
    .card123{
        background-image: radial-gradient(white,floralwhite,ghostwhite,whitesmoke,white,floralwhite,ghostwhite,whitesmoke);
        color: black;
        font-family: 'Roboto';
        font-size: 15pt;
    }
    .choosecard{
        width: 20rem;
    }
  }

  

