body{
    background-image: radial-gradient(white,white,white,white, lightblue, cyan );
}
#login1{
    position:absolute;
    top: 600px;
    font-size:1.5em;
    font-weight:bold;
    left:100px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
#login{
    border-radius:45px;
    width:500px;
    padding:50px ;
    margin: 50px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
}
#RegNo{
    font-size:1em;
    text-align:center;
}
#tf{
    font-size:1em;font-weight:bold;
    font-family: 'Times New Roman',Georgia, Times, serif;
}
