body{
    animation-name: example123;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes example123{
    0%{background-image: linear-gradient(lightgreen,cyan, lightpink);}
    50%{background-image: linear-gradient(lightpink,cyan,lightgreen);}
    100%{background-image: linear-gradient(lightgreen,cyan, lightpink);}
}

#login{
    width:500px;
    padding:50px ;
    margin: 50px;
    border: 0.5px solid black;
    background-color: white;
    box-shadow: 20px 20px 20px rgba(0,0,0);
    background-image: linear-gradient(to bottom right,wheat,lightblue,lightgreen);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: initial;
}
@keyframes example{
   0%{opacity:0%;}
   100%{opacity:100%;}
}
}
#RegNo{
    font-size:1em;
    text-align:center;
}
#tf{
    font-size:1em;font-weight:bold;
    font-family: 'Times New Roman',Georgia, Times, serif;
}
