
    #nav{
        padding-top:20px;
        margin-left:100px;
        background-color: lightseagreen;
        color:white;
        height:35px;
    }
    #link1{
        text-decoration-line: none;
        color:white;
        font-size: 1.8em;
        position:absolute;
        top: 15px;
        right:100px;
    }
    #img_nav{
        height:60px;
        width:60px;
        position: absolute;
        left:30px;
        top: 5px;
    }
    #regno{
        text-decoration-line: none;
        color:white;
        font-size: 1.8em;
        position:absolute;
        top: 15px;
        left:150px;
    }
    
    #bs{
        padding-left: 10px;
    }
    .button1{
        font-size: 1em;
    }
    .button2{
        font-size: 1em;
        margin-left:50px;
    }
    #pre{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 1px dashed black;
        width:70%;
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }