body{
    background-image: linear-gradient(lightgreen,cyan, lightblue);
}
#login{
    
    width:500px;
    padding:50px ;
    margin: 50px;
    border: 0.5px solid black;
    background-color: white;
    box-shadow: 20px 20px 20px rgba(0,0,0);
    background-image: linear-gradient(to bottom right,wheat,lightblue,lightgreen);
}
#RegNo{
    font-size:1em;
    text-align:center;
}
#tf{
    font-size:1em;font-weight:bold;
    font-family: 'Times New Roman',Georgia, Times, serif;
}
